.upload-area {
    position: relative;
    width: 150px;
    height: 100px;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#file_input {
    display: none;
}

.upload-area__default_error {
    position: absolute;
    bottom: -30px;
    color: black;
}

div.upload-area__default_a {
    background-color: blueviolet;
}

.upload-area__default {
    background-color: crimson;
    border-radius: 30px;
}